
.banner {
    width: 100%;
    height: auto;
    display: flex;
}

.banner-photos {
    width: 33.33%;
    object-fit: cover;
    max-height: 600px;
}

main {
    margin-bottom: 5%;
}


.intro {
    text-align: center;
    margin-bottom: 2%;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

h3 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0;
}

.h3-diff {
    text-decoration: underline;
}

p {
    font-size: 40px;
    margin-top: 0;
}



section {
    display: flex;
}

section img {
    max-height: 590px;
    max-width: 840px;
    width: 100%;
    object-fit: cover;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;    
}

#volunteer {
    padding-top: 2%;
}


.info {
    display: block;
    margin-left: 3%;
    margin-top: 2%;
    width: 1000px;
    
}

@media (min-width: 769px) and (max-width: 1400px) {

    h1 {
        font-size: 50px;
        font-weight: bold;
    }
    
    h3 {
        font-size: 35px;
        font-weight: bold;
    
    }
    
    p {
        font-size: 30px;
    }
    

    section {
        display: block;
    }

    section img {
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
        
    }

    .info {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        
    }

}


@media (min-width: 770px) and (max-width: 960px) {

    h1 {
        font-size: 40px;
        font-weight: bold;
    }
    
    h3 {
        font-size: 25px;
        font-weight: bold;
    
    }
    
    p {
        font-size: 20px;
    }
    


    section {
        display: block;
    }

    

    .info {
        padding: 5%;
        width: 90%;        
    }
    
}


@media (max-width: 769px) {

    h1 {
        font-size: 30px;
        font-weight: bold;
    }
    
    h3 {
        font-size: 20px;
        font-weight: bold;
    
    }
    
    p {
        font-size: 15px;
    }
    

    section {
        display: block;
    }

    section img {
        margin-left: 0%;
    }
    
    .info {
        padding: 5%;
        width: 80%;
        
    }

}