
header {
    background: url('../assets/space-1579231_1280.jpg');
    background-repeat: no-repeat;
    height: 100%;
    height: 630px;
    object-fit: fill;
    background-size: cover;
    background-position: center;
}

.banner-text {
    margin-top: 20px;
    text-align: center;
    color: #D9F2F4;
    font-size: 45px;
    stroke: solid black;
}

h2 {
    text-align: center;
    padding: 1%;
    font-size: 50px;
}

.h2-diff {
    text-decoration: underline;
    stroke: solid black;
}

h3 {
    font-size: 45px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 100;
}




.dark-section, .info-card {
    background-color: #4A7073;
    color: #ffffff;
    margin-bottom: 5%;
}


.showcards {
    display: flex;
    justify-content: space-evenly;
}

.showcard {
    display: block;
    max-width: 580px;
    height: auto;
    text-align: center;
    padding-right: 2%;
}

.showcard-img {
    max-width: 100%;
    max-height: 380px;
    width: 715px;
    object-fit: contain;
}

.showcard-info {
    text-align: left;
    font-size: 40px;
    margin-top: 0;
}


#quote-diff {
    margin-bottom: 15%;
}



.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info-card {
    max-width: 540px;
    border-radius: 10px;
    text-align: center;
    height: auto;
    display: block;
}

.info-card-img {
    max-height: 310px;
    max-width: 450px;
    object-fit: contain;
}

.info-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}



/*media*/

@media (min-width: 769px) and (max-width: 1400px) {

    header {
        height: 500px;
    }

    .banner-text {
        color: #FCF9F8;
        font-size: 30px;
        padding: 2px;
    }

    .showcards {
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 35px;
    }
    

    .showcard-info {
        font-size: 30px;
        padding-bottom: 5%;
    }


    #quote-diff {
        margin-bottom: 8%;
    }
    
    

}






@media (max-width: 768px) {

    header {
        height: 300px;
    }

    .banner-text {
        font-size: 15px;
    }

    .showcards {
        flex-wrap: wrap;
        
    }

    .showcard {
        padding-right: 0;

    }


    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 23px;
    }
    

    .showcard-info {
        font-size: 20px;
        padding-bottom: 5%;
    }


    #quote-diff {
        margin-bottom: 2%;
    }

    
    .info-card {
        max-width: 80%;
    }
    
    .info-card-img {
        max-width: 90%;
    }
    
    .info-text {
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }



}