
header {
    background: url('../assets/space-1579231_1280.jpg');
    background-repeat: no-repeat;
    height: 100%;
    height: 630px;
    object-fit: fill;
    background-size: cover;
    background-position: center;
}

.banner-text {
    margin-top: 20px;
    text-align: center;
    color: #D9F2F4;
    font-size: 45px;
    stroke: solid black;
}

h2 {
    text-align: center;
    padding: 1%;
}


.midbanner {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 3%;
}

.midbanner-photos {
    width: 33.33%;
    object-fit: cover;
    max-height: 600px;
}



.dark-section, .info-card {
    background-color: #4A7073;
    color: #ffffff;
    margin-bottom: 2%;
}



.showcards {
    display: flex;
    justify-content: space-evenly;
}

.showcard {
    display: block;
    max-width: 615px;
    height: 684px;
    text-align: center;
    background-color: aqua;
    padding-right: 2%;
}


.showcard-img {
    max-height: 380px;
    max-width: 715px;
}


.directionlinks {
    text-align: right;
    padding: 1%;
    font-size: 20px;
    text-decoration: underline;
}


.inbetween-section {
    display: flex;
    margin-bottom: 2%;
}

.inbetween-photo {
    max-width: 640px;
    max-height: 714px;
}


.info-cards {
    display: flex;
    justify-content: space-between;

}

.info-card {
    max-width: 595px;
    border-radius: 10px;
    text-align: center;
}

.info-card-img {
    max-height: 385px;
    max-width: 520px;
    object-fit: cover;
}



/*media*/

@media (min-width: 769px) and (max-width: 1400px) {

    header {
        height: 500px;
    }

    .banner-text {
        color: #FCF9F8;
        font-size: 20px;
        padding: 2px;
    }

    .showcards {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 768px) {

    header {
        height: 300px;
    }

    .banner-text {
        font-size: 10px;
    }

    .showcards {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }



}